* {
  box-sizing: border-box;
}
.card {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.circular-icon {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  padding: 16px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

label {
  float: left;
}

input[type="checkbox"] {
  margin-top: 16px;
}

h1 {
  font-size: 24px;
}

img {
  border-radius: 50%;
}

.cancel-btn {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.forgot-password {
  color: #999;
  text-decoration: none;
}
